name: Java Maven Docker CI
 
on:
  push:
    branches:
      - main
  workflow_dispatch:
 
jobs:
  docker:
    runs-on: ubuntu-latest
 
    steps:
      # Step 1: Checkout source code
      - name: Checkout code
        uses: actions/checkout@v4
 
      # Step 2: Set up Java
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
 
      # Step 3: Build Maven project
      - name: Build with Maven
        run: mvn clean package -DskipTests
 
      # Step 4: Build Docker image
      - name: Build Docker Image
        run: docker build -t nithish005/java-maven-app:1.0 .
 
      # Step 5: Docker Hub Login
      - name: Docker Login
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
            -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
 
      # Step 6: Push Docker image
      - name: Push Docker Image
        run: docker push nithish005/java-maven-app:1.0
